@model NopExperts.Nop.Plugins.RemarketyWebApi.Models.RemarketyWebAdmin.RemarketyConfigModel
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">

            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="StoreAddressModel.Country" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="StoreAddressModel.Country" />
                    <span asp-validation-for="StoreAddressModel.Country"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="StoreAddressModel.State" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="StoreAddressModel.State" />
                    <span asp-validation-for="StoreAddressModel.State"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="StoreAddressModel.City" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="StoreAddressModel.City" />
                    <span asp-validation-for="StoreAddressModel.City"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="StoreAddressModel.Address1" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="StoreAddressModel.Address1" />
                    <span asp-validation-for="StoreAddressModel.Address1"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="StoreAddressModel.Address2" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="StoreAddressModel.Address2" />
                    <span asp-validation-for="StoreAddressModel.Address2"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="StoreAddressModel.Zip" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="StoreAddressModel.Zip" />
                    <span asp-validation-for="StoreAddressModel.Zip"></span>
                </div>
            </div>
        </div>
    </div>

</div>